TOKEN = "XXXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
POSTGRES_USER=XXXXXX
POSTGRES_PASSWORD=XXXXXXXXXX
POSTGRES_DB=XXXXXXXXXX
POSTGRES_HOST=XXXXXXXXXXXXX
POSTGRES_PORT=XXXX
ADMIN_TG_ID=XXXXXXXX
ERROR_CHANNEL_CHAT_ID = -XXXXXXXXXXXXXXX