TOKEN="Токен вашего Telegram-бота"
POSTGRES_USER=имя_пользователя базы_данных
POSTGRES_PASSWORD=пароль пользователя базы данных
POSTGRES_DB=konstruktor_db
POSTGRES_HOST=konstruktor_postgres
POSTGRES_PORT=5432
ADMIN_TG_ID=Telegram ID администратора
ERROR_CHANNEL_CHAT_ID = Telegram ID чата с ошибками
